/Coinquilini.class
/Debito.class
/Gruppo.class
/Indirizzo.class
/Movimento.class
/Notifica.class
/PartecipazioneGruppo.class
/Scadenza.class
/Spesa.class
/Studio.class
/Utente.class
/Valuta.class
/Viaggio.class
